// Shared Grid Background Output Tests
// ===================================

@include t.test-module('Grid Background Output') {

  // Grid Background Output
  // ----------------------

  @include output-test('background-grid-output') {
    $image: linear-gradient(to right, #fcc, #cfc 25%, #ccf),
            linear-gradient(to bottom, #000 5%, transparent 5%);
    $size: auto, 100% 16px;
    $clip: content-box, border-box;
    $flow: ltr;

    @include t.assert(
      'Elements should show a horizontal clipped red-green-blue gradient, and a vertical baseline'
    ) {
      @include t.output {
        background: none;
        padding-bottom: 2rem;
        padding-top: 2rem;
        @include background-grid-output($image, $size, $clip, $flow);
      }
      @include t.expect {
        background: none;
        padding-bottom: 2rem;
        padding-top: 2rem;
        background-image: $image;
        background-size: $size;
        background-origin: $clip;
        background-clip: $clip;
        background-position: left top;
      }
    }
  }
}
