// Shared Container API Tests
// ==========================

@include t.test-module('Shared Container API') {

  // Container Output
  // ----------------

  @include output-test('container-output') {

    // fluid
    @include t.assert('Containers should have 60em max-width, centered.') {
      @include t.output {
        @include container-output(60em, auto auto, max-width);
      }
      @include t.expect {
        max-width: 60em;
        margin-left: auto;
        margin-right: auto;
      }
    }

    // static
    @include t.assert('Containers should have 30em width, flush right.') {
      @include t.output {
        @include container-output(30em, auto 0, width);
      }
      @include t.expect {
        width: 30em;
        margin-left: auto;
        margin-right: 0;
      }
    }

    // auto width
    @include t.assert('Containers should have 100% width.') {
      @include t.output {
        @include container-output(null, auto auto, max-width);
      }
      @include t.expect {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
