// Shared Output
// =============

@include t.test-module('Shared Output') {
  @include output-test('output') {
    $map: (
      width: 3em,
      position: relative,
    );
    @include t.assert(
      'Property value pairs are passed in as maps and output as CSS.'
    ) {
      @include t.output {
        @include output($map);
      }
      @include t.expect {
        @each $prop, $val in $map {
          #{$prop}: $val;
        }
      }
    }
  }
}
