// Float End API Tests
// ===================

@include t.test-module('Float End API') {

  // Float Last
  // ----------

  @include output-test('float-last') {

    @include t.assert('Items should float flush right.') {
      @include t.output {
        float: left;
        width: 75%;
        margin-right: 5%;
        @include float-last;
      }
      @include t.expect {
        float: left;
        width: 75%;
        margin-right: 5%;
        float: right;
        margin-right: 0;
      }
    }

    @include t.assert('Items should not have any right margin.') {
      @include t.output {
        float: left;
        width: 75%;
        margin-right: 5%;
        @include float-last(ltr, from);
      }
      @include t.expect {
        float: left;
        width: 75%;
        margin-right: 5%;
        margin-right: 0;
      }
    }

  }

  // Float First
  // -----------

  @include output-test('float-first') {
    @include t.assert('Items should float flush left.') {
      @include t.output {
        float: left;
        width: 75%;
        margin-left: 5%;
        @include float-first;
      }
      @include t.expect {
        float: left;
        width: 75%;
        margin-left: 5%;
        margin-left: 0;
      }
    }

  }

}
