// Float Isolation API Tests
// =========================

@include t.test-module('Isolation API') {

  // Isolate Output
  // --------------

  @include output-test('isolate-output') {
    @include t.assert(
      'Isolation at 30%, has 30% left margin and -100% right margin.'
    ) {
      @include t.output {
        @include span(40%);
        @include isolate-output(30%, ltr);
      }
      @include t.expect {
        @include span(40%);
        float: left;
        margin-left: 30%;
        margin-right: -100%;
      }
    }
  }

}
