// Box Sizing Tests
// ================

@include t.test-module('Box Sizing Support') {

  // susy-box-sizing [mixin]
  // -----------------------

  @include output-test('susy-box-sizing') {
    @include t.assert('Box-models are correctly output and prefixed.') {
      @include t.output {
        width: 50%;
        padding: 0 2em;
        @include susy-box-sizing(border-box);
      }
      @include t.expect {
        width: 50%;
        padding: 0 2em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }
}
