// Prefix Support
// ==============

@include t.test-module('Prefix Support') {
  @include output-test('susy-prefix') {
    $prop: border-radius;
    $val: 3em;
    $prefix: moz webkit official;
    @include t.assert('Requested prefixes are added to output.') {
      @include t.output {
        @include susy-prefix($prop, $val, $prefix);
      }
      @include t.expect {
        -moz-border-radius: 3em;
        -webkit-border-radius: 3em;
        border-radius: 3em;
      }
    }
  }
}
